<div class="card-columns">
  <div class="card" *ngFor="let heroe of heroes">
    <img src={{heroe.img}} width="30" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio | recortar : 143}}</p>      
      <p class="card-text text-center"><small >{{heroe.aparicion}} ({{heroe.casa}})</small></p>
      <button type="button" (click)="mostrarHeroe(heroe)" class="btn btn-primary btn-lg btn-block">Mostrar mas...</button>
    </div>
  </div>    
</div>